body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
.btn-outline-blue{
  color: #003B94;
  border: 1px solid #003B94;
  background-color: transparent;
  border-radius: 10px;
}
.btn-outline-blue:hover{
  color: #003B94;
}

.fundo {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
}

.curva {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}
.btn-outline-orange {
  color: #ff6600;
  border: 1px solid #ff6600;
  background-color: transparent;
  border-radius: 10px;
}
.btn-outline-orange:hover {
  color: #ff6600;
}
@media (max-width: 768px) { /* Para telas menores que 768px (tablets e celulares) */
  .conteudo2 h1 {
    font-size: 1.5rem !important; /* Diminui o tamanho do título */
  }
  .conteudo2 p {
    font-size: 0.9rem !important; /* Diminui o tamanho do texto dos parágrafos */
  }
  .conteudo2 .fw-lighter {
    font-size: 0.8rem !important; /* Diminui o tamanho do texto mais leve */
  }
}
