@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    /* Troca a fonte para Comfortaa */
    background-color: #f4f4f4;
}

.leftMenu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menuHamburger img {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
    width: 24px;
    /* Ajuste no tamanho do ícone */
    cursor: pointer;
}

.logo img {
    display: flex;
    justify-content: center;
    width: 150px;
    /* Aumenta o tamanho da logo */
    margin-right: 30px;
    cursor: pointer;
}

.pesquisa {
    display: flex;
    justify-content: flex-start !important;
    flex-grow: 1;
    gap: 10px;
}

.pesquisa input {
    width: 500px;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* .pesquisa img {
    width: 20px;
    cursor: pointer;
} */

.rightMenu {
    display: flex;
    align-items: center;
    gap: 16px; /* Espaçamento entre os itens, ajuste conforme necessário */
    color: #fff !important;
}

.rightMenu .home {
    color: #fff !important;
}

.rightMenu .home:hover {
    color: #adadad70 !important;
}

.rightMenu .vagas {
    color: #fff !important;
    text-decoration: none !important;
}

.rightMenu .vagas:hover {
    color: #adadad70 !important;
    background: none;
}

.entrar {
    font-size: 14px;
    /* Diminui o tamanho da fonte */
    cursor: pointer;
    padding: 5px 15px;
    /* Diminui o tamanho do botão */
    border: 1px solid #fff !important;
    /* Borda neon mais fina */
    border-radius: 13px;
    text-decoration: none;
    color: #fff !important;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.entrar:hover {
    background-color: rgba(255, 255, 255, 0.466) !important;
    /* Fundo verde neon mais claro */
    color: #fff;
}

.perfil img {
    width: 32px;
    border-radius: 50%;
    /* Remove o filtro */
    cursor: pointer;
    margin-left: 20px;
}
